<div>
    {{#each products }}
    <div class="productName">{{ this.name }}
        <div class="productId">Product ID: {{ this.id }}</div>
        <div class="productPrice">Price: {{ this.price }}</div>
        <div class="productInventory">Inventory: {{ this.inventory }}</div>
    </div>
    {{/each}}
</div>