{{errorMessage}}
<div class="article">
    <form method="POST" action="/articles" enctype="application/x-www-form-urlencoded">
        <div class="articleTitle">Article Title: <input type="text" name="title"></div>
        <div class="articleBody">Body: <input type="text" name="body"></div>
        <div class="articleAuthor">Author: <input type="text" name="author"></div>
        <button type="submit">Create Author</button>
    </form>
</div>