{{errorMessage}}
<div class="product">
    <form method="POST" action="/products" enctype="application/x-www-form-urlencoded">
        <div class="productName">Product Name: <input type="text" name="name"></div>
        <div class="productPrice">Price: <input type="number" name="price"></div>
        <div class="productInventory">Inventory: <input type="number" name="inventory"></div>
        <button type="submit">Create Product</button>
    </form>
</div>